<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="in.grat.esd2"
      android:versionCode="16"
      android:versionName="2.0.16">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="11" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
    	<receiver android:name=".AlarmReceiver"></receiver>
        <activity android:name=".ESDailyActivity"
                  android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
<!--                 <data android:scheme="esdLang"></data> -->				
            </intent-filter>
        </activity>
		<receiver android:name=".MyWidgetProvider" android:label="@string/small_widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>
		<receiver android:name=".MyLargeWidgetProvider" android:label="@string/large_widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/large_widget_info" />
		</receiver>
		<activity android:label="Preferences" android:name="PrefsActivity"></activity>
		<activity android:label="FilePicker" android:name=".FilePickerActivity"></activity>
		<activity android:name="WidgetConfig">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
		
    </application>
</manifest>